{% extends "base.html" %}
<p></p>

{% block title %} Восстановление пароля {% endblock title %}
<p></p>

{% block style %} {% load static %}

<link rel="stylesheet" href='{% static "clup_joy/css/login.css" %}' />

{% endblock style %}
<p></p>

{% block content %}
<div class="good_register">
	<div class="good_register2">
		<h1>Письмо отправлено</h1>
		<h3>
			На ваш почтовый ящик было отправлено письмо с инструкцией по сбросу
			пароля. Если письмо не пришло проверьте папку
			<span color="red">(СПАМ)</span>!
		</h3>
	</div>
</div>

{% endblock content %}
