{% extends "base.html" %}
<p></p>

{% block title %} Пароль сменен {% endblock title %}
<p></p>

{% block style %} {% load static %}

<link rel="stylesheet" href='{% static "clup_joy/css/login.css" %}' />

{% endblock style %}
<p></p>

{% block content %}
<div class="good_register">
	<div class="good_register2">
		<h1>Пароль успешно сменен</h1>
		<span class="login_span"
			><h3>
				<a href="/users/login">Остался только войти в аккаунт</a>
			</h3></span
		>
	</div>
</div>

{% endblock content %}
